* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/* header section start */
.header {
  height: 100%;
  width: 100vw;
  padding: 20px 0;
  background-color: #2d25a0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 70px;
}
.navbar {
  display: flex;
  margin-top: 40px;
}
.navbar li {
  margin-right: 20px;
  font-size: 40px;
}
.navbar li a:hover {
  background-color: #555;
}
.nav li {
  list-style: none;
}
.navbar li a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
}
  .logo li {background-image: linear-gradient(to right, #FF4E50 0%, #F9D423  51%, #FF4E50  100%)}
  .logo li {
     margin: 10px;
     padding: 15px 45px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     box-shadow: 0 0 20px #eee;
     border-radius: 10px;
     display: block;
   }

   .logo li:hover {
     background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
   }
  

.logo li a {
  color: #ffff;
}
.banner-text {
  width: 40%;
  font-size: 40px;
  margin-left: 100px;
  color: #ffffff;
}
.banner-logo {
  width: 40%;
  margin-left: 50px;
}
.banner-logo img {
  width: 100%;
}
.banner {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
  button {background-image: linear-gradient(to right, #FF4E50 0%, #F9D423  51%, #FF4E50  100%)}
  button {
     margin: 10px;
     padding: 15px 45px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     box-shadow: 0 0 20px #eee;
     border-radius: 10px;
     display: block;
   }

   button:hover {
     background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
   }

/* header section end */

/* player section start */
.players {
  background-image: url(../images/back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 30px 50PX;
  grid-gap: 50px;
}
.player {
  width: 90%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  margin-left: 20px;
}
.player img {
  width: 100%;
  padding: 30px;
  border-radius: 50%;
}
.player h1
 {
  padding: 20px;
}
.player p
 {
  padding:0 0 20px 20px;
}
/* player section end */

/* match section start */
.match {
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.match-text {
  width: 40%;
  font-size: 40px;
  /* margin-left: 100px; */
}
.match-logo {
  width: 40%;
  margin-left: 50px;
}
.match-logo img {
  width: 100%;
}
/* match section end */

/* scores section start */
.scores {
  background-color: black;
  height: 80vh;
  width: 100vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.country-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.daily-match {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}
/* scores section end */

/* event section start */
.event {
  background-image: url(../images/football-1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.event {
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.event-text {
  margin-right: 200px;
}
.event-text h2 {
  font-size: 40px;
}
.event-text h3 {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 20px;
}
.event-text p {
  font-size: 20px;
}
.time {
  margin: 30px 30px 30px 0;
  font-size: 20px;
}
.count {
  display: flex;
}
  .book a {background-image: linear-gradient(to right, #FF4E50 0%, #F9D423  51%, #FF4E50  100%)}
  .book a {
     margin: 10px;
     padding: 15px 45px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     box-shadow: 0 0 20px #eee;
     border-radius: 10px;
     display: block;
     text-decoration: none;
   }

   .book a:hover {
     background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
   }
/* event section end */

/* final match section start */
.final {
  height: 100%;
}
.final-match-text h1 {
  text-align: center;
  font-size: 50px;
}
.final-match img {
  width: 100%;
}
/* final match section end */

/* footer section start */
.footer {
  text-align: center;
  margin: 50px 0;
  /* justify-content:center; */
}
.footer-img img {
  display: block;
  width: 40%;
  margin: 0 auto;
}
.footer i {
  font-size: 40px;
  background-color: white;
  color: gray;
  padding: 20px;
}
.footer p {
  font-size: 40px;
}
/* footer section end */

/* media section start */
@media only screen and (max-width: 688px) {
  .nav{
   display:flex;
   flex-direction:column;
   justify-content: flex-start;
   align-items:flex-start;
   margin-left: 10px;
  }
   /*  */
  .navbar {
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 10px;
  }
  .banner-text {
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 10px;
    font-size:20px;
  }
  .banner-text button {
    margin-left: 10px;
    font: size 20px;
  }
  .banner {
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:flex-start;
    margin-left: 10px;
  }
  .banner-logo {
    width: 80%;
    margin-left: 50px;
  }

  .banner-logo img {
    width: 100%;
  }


  /* player section */
  .players {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
  }
  /* match section start */
  .match {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .match-text {
    width: 80%;
    font-size: 20px;
    margin-left: 20px;
    /* margin-left: 100px; */
  }
  .match-logo {
    width: 80%;
    /* margin-left: 50px; */
  }
  .match-logo img {
    margin-top: 20px;
    width: 100%;
  }

  /* scores section */
  .scores {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  /* .next-match{
  display:grid;
  grid-template-columns: repeat(1, 1fr);
} */
  .event {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: end;
  }
  .event-text{
   display:block;
   /* justify-content: flex-end;
   align-items: flex-end; */
   margin:30px;
   /* margin:auto !important; */
  }
  .event-text h2{
    font-size:30px;
  }
  .count{
    margin-top: 160px;
  }
  .final{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-img img{
    width:80%;
  }
  .footer{
    display:grid;
    grid-template-columns: repeat(1, 1fr)
  } 
}
/* media section end */
